<div class="reports-card__wrapper">
  <div class="reports-card">
    <div class="reports-card__top-section">
      <i class="fas fa-file-alt"></i>
      <div class="top-section__title">
        Company employees
      </div>
    </div>
    <img src="/assets/graphics/images/content/saifas-bi-powerbi-custom-visuals/saifas-bi-pbi-cv-table-120px-120px.png" alt="">
  </div>
  <div class="reports-card-buttons__container">
    <div class="reports-card-details-button">
      <a class="btn" href="./01/">Details</a>
    </div>
    <div class="reports-card-buttons__container-bottom">
      <a class="btn" href="./01/embedded/">Embedded</a>
      <a class="btn" href="./01/published/">Published</a>
    </div>
  </div>
</div>
