<div class="custom-visual__card">
  <div class="card__top-section">
    <div class="top-section__icon">
      <img src="{{ pbi-cv.image }}" alt="">
    </div>
    <div class="top-section__title">
      {{ pbi-cv.title }}
      <div class="top-section__description">
        <img src="/assets/graphics/images/content/powerbi-icon-960px-1280px.png" alt="">
        Power BI custom visual
      </div>
    </div>
  </div>
  <div class="main-section">
    <div class="main-section__description">
      {{ pbi-cv.description }}
    </div>
  </div>
  <div class="cards-section">
    <a class="btn" href="{{ pbi-cv.detailsLink }}">Details</a>
    <a target="_blank" class="btn btn--purchase disabled" href="">Purchase</a>
  </div>
</div>
