<head>

  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
  </script>

  <script src="https://kit.fontawesome.com/3ddd0feda7.js" crossorigin="anonymous"></script>

  <meta http-equiv="Content-Type" content="application/json; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Load browser tab favicon -->
  <link rel="shortcut icon" href="{{site.favicon}}">
  
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
</head>
